<% @articles.each do |article| %>
  <div class="col-8">
    <h1><%= link_to article.title, article_path(article), class: "text-decoration-none"%></h1>
    <p><%= article.content %></p>
  </div>
<% end %>
